bin/Debug/net7.0/ApiComercial.dll
obj/Debug/net7.0/ApiComercial.dll
obj/Debug/net7.0/ApiComercial.pdb
obj/Debug
bin/Debug/net7.0/ApiComercial.dll
bin/Debug/net7.0/ApiComercial.pdb
obj/Debug/net7.0/ApiComercial.pdb
obj/Debug/net7.0/ref/ApiComercial.dll
bin/
obj/
obj/Debug/net7.0/ApiComercial.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/ApiComercial.dll
obj/Debug/net7.0/ApiComercial.pdb
obj/Debug/net7.0/ref/ApiComercial.dll
obj/Debug/net7.0/refint/ApiComercial.dll
bin/Debug/net7.0/ApiComercial.dll
bin/Debug/net7.0/ApiComercial.pdb
publicado/